<div class="container">

    <div align="right">
        <button mat-raised-button color="accent" routerLink="/employee-list">Go to Employee List</button>
    </div>

    <div class="card p-5 mt-2">

       

        <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
            <mat-form-field appearance="outline">
                <mat-label>Employee Id</mat-label>
                <input matInput placeholder="Employee Id" name="employeeId" [(ngModel)]="employee.employeeId" disabled>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <input matInput placeholder="Employee Name" name="employeeName" [(ngModel)]="employee.employeeName">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number" name="employeeContactNumber" [(ngModel)]="employee.employeeContactNumber">
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" name="employeeAddress" [(ngModel)]="employee.employeeAddress">
                <mat-icon matSuffix>apartment</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choose your department</mat-label>
                <mat-select name="employeeDepartment" [(ngModel)]="employee.employeeDepartment">
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="Network">Network</mat-option>
                    <mat-option value="Repair">Repair</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <Label>Gender</Label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button [checked]="checkGender('M')" (click)="selectGender('M')" value="M">M</mat-radio-button>
                    <mat-radio-button [checked]="checkGender('F')" (click)="selectGender('F')" value="F">F</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field appearance="outline" class="mt-2">
                <mat-label>Employee Skills</mat-label>
                <input matInput placeholder="Employee Skills" name="employeeSkills" [(ngModel)]="employee.employeeSkills" disabled>
                <mat-icon matSuffix>menu_book</mat-icon>
            </mat-form-field>

            <div>
                <Label>Skills</Label>
                <section class="example-section">
                    <mat-checkbox (change)="onSkillsChanges($event)" value="Java" class="example-margin" [checked]="checkSkills('Java')">Java</mat-checkbox>
                    <mat-checkbox (change)="onSkillsChanges($event)" value="Angular" class="example-margin" [checked]="checkSkills('Angular')">Angular</mat-checkbox>
                    <mat-checkbox (change)="onSkillsChanges($event)" value="Spring Boot" class="example-margin" [checked]="checkSkills('Spring Boot')">Spring Boot</mat-checkbox>
                    <mat-checkbox (change)="onSkillsChanges($event)" value="AWS" class="example-margin" [checked]="checkSkills('AWS')">AWS</mat-checkbox>
                </section>
            </div>

            <mat-divider></mat-divider>

            <div class="text-center mt-3">
                <button mat-raised-button class="m-2">Clear</button>
                <button mat-raised-button color="primary" class="m-2">Save</button>
            </div>

        </form>


    </div>
</div>