<div class="container mt-5">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile>
            <img src="../../assets/simple crud operations.png" style="cursor: pointer;" alt="" srcset="" routerLink="/employee">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/coming soon.png" alt="" srcset="">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/coming soon.png" alt="" srcset="">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/coming soon.png" alt="" srcset="">
        </mat-grid-tile>
    </mat-grid-list>
</div>